.dataItem {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black; 
}

.dataItemButtonContainer {
    padding-top: 5px;
}

.dataItemImage {
    float: left;
    width: 100px;
    height: 100px;
}

.dataItemsListColumn {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dataItemsMenuListColumnContainer {
    padding-left: 20px;
    padding-right: 20px;
}

.dataItemsSearchSegment {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dataItemSegment {
    background-color: white;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.dataItemText {
    margin-left: 100px;
    padding-top: 5px;
}
